ES_TS_OrderManagement/Service Descriptors/OrderManagement/OrderManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eniquesolutions.com/wsdl/OrderManagement/AbstractWSDL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderManagement" targetNamespace="http://www.eniquesolutions.com/wsdl/OrderManagement/AbstractWSDL" xmlns:xsd1="http://www.example.org/OrderManagement">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eniquesolutions.com/wsdl/OrderManagement/AbstractWSDL">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/OrderManagement"
    		schemaLocation="../../../ES_Common_Model/Schemas/OrderManagement/OrderManagement.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="CreateOrderRequest">
    <wsdl:part name="parameters" type="xsd1:CreateOrder_requestType"/>
  </wsdl:message>
  <wsdl:message name="CreateOrderResponse">
    <wsdl:part name="parameters" type="xsd1:CreateOrder_responseType"/>
  </wsdl:message>
  <wsdl:message name="CancelOrderRequest">
  	<wsdl:part name="CancelOrderRequest" type="xsd1:CancelOrder_RequestType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelOrderResponse">
  	<wsdl:part name="CancelOrderResponse" type="xsd1:CancelOrder_ResponseType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrderRequest">
  	<wsdl:part name="UpdateOrderRequest" type="xsd1:UpdateOrder_RequestType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrderResponse">
  	<wsdl:part name="UpdateOrderResponse" type="xsd1:UpdateOrder_ResponseType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderRequest">
  	<wsdl:part name="GetOrderRequest" type="xsd1:GetOrder_RequestType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderResponse">
  	<wsdl:part name="GetOrderResponse" type="xsd1:GetOrder_ResponseType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderHistoryRequest">
  	<wsdl:part name="GetOrderHistoryRequest" type="xsd1:GetOrderHistory_RequestType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderHistoryResponse">
  	<wsdl:part name="GetOrderHistoryResponse" type="xsd1:GetOrderHistory_ResponseType"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderManagement">
    <wsdl:operation name="CreateOrder">
      <wsdl:input message="tns:CreateOrderRequest"/>
      <wsdl:output message="tns:CreateOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
    	<wsdl:input message="tns:CancelOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:CancelOrderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
    	<wsdl:input message="tns:UpdateOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:UpdateOrderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
    	<wsdl:input message="tns:GetOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:GetOrderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderHistory">
    	<wsdl:input message="tns:GetOrderHistoryRequest"></wsdl:input>
    	<wsdl:output message="tns:GetOrderHistoryResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderManagementSOAP" type="tns:OrderManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://www.eniquesolutions.com/wsdl/OrderManagement/AbstractWSDL/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManagement">
    <wsdl:port binding="tns:OrderManagementSOAP" name="OrderManagementSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
